In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
csv_path1 = Path("Resources/schools_complete[1].csv")

In [3]:
csv_path2 = Path("Resources/students_complete[1].csv")

In [4]:
school_data_to_load = csv_path1
student_data_to_load = csv_path2

school_data = pd.read_csv(school_data_to_load,encoding="utf-8")
student_data = pd.read_csv(student_data_to_load,encoding="utf-8")

In [5]:
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [6]:
total_schools = len(school_data_complete.school_name.unique())

total_students = school_data_complete.student_name.count()

total_budget = sum(school_data_complete.budget.unique())

average_math_score = school_data_complete.math_score.mean()

average_reading_score = school_data_complete.reading_score.mean()

passing_math_pct = (school_data_complete[school_data_complete['math_score'] >= 70].math_score.count()) / total_students

passing_reading_pct = (school_data_complete[school_data_complete['reading_score'] >= 70].reading_score.count()) / total_students

overall_passing_rate = (passing_math_pct + passing_reading_pct)/2

In [7]:
district_summary = pd.DataFrame({"Total Schools":[total_schools],
                                 "Total Students":[total_students],
                                 "Total Budget":[total_budget],
                                 "Average Math Score":[average_math_score],
                                 "Average Reading Score":[average_reading_score],
                                 "% Passing Math":[passing_math_pct*100],
                                 "% Passing Reading":[passing_reading_pct*100],
                                 "% Overall Passing Rate":[overall_passing_rate*100]})

district_summary['Total Students'] = district_summary.apply(lambda x: "{:,.0f}".format(x['Total Students']), axis=1)
district_summary['Total Budget'] = district_summary.apply(lambda x: "${:,.2f}".format(x['Total Budget']), axis=1)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,80.393158